<div class="container-homepage">
  <div class="row">
    <div class="col-md-2 left"></div>
    <div class="col-md-8 questions">
      <h1>Questions &amp; Answers for Unicorns</h1>

      <ul>
        {{#each 'question' in model}}
          <li>{{#link-to 'question' question.id}}{{question.title}} <span class="colored">Posted by: </span> {{question.author}}{{/link-to}}</li>
        {{/each}}
      </ul>

      <p>{{#link-to 'new-question' classNames="btn btn-primary"}}New Question{{/link-to}}</p>
      <img class="unicorn-pic" src="RainbowUni.jpg" alt="unicorn">

    </div>
    <div class="col-md-2 right"></div>
  </div>
</div>
