<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="center-me">Lookup a Unicorn Seller</h1>

    <h3 class="center-me green">Looking to purchase or rent a unicorn?</h3><br>
    <h4 class="center-me green">All sellers in our database have been nationally certified as American Unicorn Handlers (AUH)</h4><br><br>
    <div class="sellers">
      <form>
        <div class="form-group">
          <label for="number">Number of Sellers</label>
          {{input value=number id="number" size="42" placeholder="Enter number of sellers you need"}}
        </div>

        <div class="form-group">
          <p class="pink">**When choosing seller gender, please note that female sellers tend to have more unicorns available**</p>
          <label for="gender">Gender of Seller </label>
          {{input value=gender id="gender" size="44" placeholder="Enter gender of sellers: male or female"}}
        </div>

        <button class="btn btn-primary" {{action 'submit'}}>Submit</button>
      </form>
    </div>

    {{outlet}}
  </div>
  <div class="col-md-1"></div>
</div>
